<div class="chat-room">
  <div class="user-list">
    <mat-list>
      <mat-list-item *ngFor="let user of FrindsListUsers" (click)="selectUser(user)">
        <img [src]="user?.imageUrl" *ngIf="user.imageUrl"  class="avatar-sm-xc">
        <mat-icon class="user-avatar" *ngIf="!user.imageUrl">account_circle</mat-icon>
        
        <span>{{ user.name }}</span>
        <span *ngIf="user._id && isUserOnline(user._id)" class="online-indicator"></span>
        <span class="spacerx"></span>
          <i class="urms" *ngIf="user.unReadedMessage !=0" >{{ user.unReadedMessage }}</i>
      </mat-list-item>
    </mat-list>
  </div>



  <div class="chat-box" >
    <div class="chat-header">
      <div class="user-info">
        <img [src]="selectedUser.imageUrl" *ngIf="selectedUser?.imageUrl"  class="avatar-sm-xc">
        <mat-icon class="user-avatar" *ngIf="!selectedUser?.imageUrl">account_circle</mat-icon>
        <div class="spacerx"></div>
        <span class="username">{{ selectedUser.name }}</span>
      </div>
    </div>
    <div class="chat-content" #chatContent (scroll)="onScrollGetOldMessages()">
      <mat-list>
        <mat-list-item *ngFor="let message of chatMessages">

          <div class="message" [ngClass]="{'sender': message.sender === MainUser._id}">
            <ng-container *ngIf="message.sender === MainUser._id">
              <img [src]="MainUser.imageUrl" *ngIf="MainUser?.imageUrl"  class="avatar-sm-xc">
              <mat-icon class="user-avatar" *ngIf="!MainUser?.imageUrl">account_circle</mat-icon>
            </ng-container>

            <ng-container *ngIf="message.sender != MainUser._id">
              <img [src]="selectedUser.imageUrl" *ngIf="selectedUser?.imageUrl"  class="avatar-sm-xc">
              <mat-icon class="user-avatar" *ngIf="!selectedUser?.imageUrl">account_circle</mat-icon>
            </ng-container>

            <p>{{ message.content }}</p>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="chat-input" *ngIf="selectedUser._id != null">
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input (keyup.enter)="sendMessage()" matInput [(ngModel)]="newMessage" placeholder="Type your message">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>


</div>